<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <degriz_openaiads>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
            <events>
                <page_viewed>1</page_viewed>
                <contents_viewed>1</contents_viewed>
                <items_added>1</items_added>
                <checkout_started>1</checkout_started>
                <order_created>1</order_created>
                <registration_completed>1</registration_completed>
                <lead_created>1</lead_created>
                <search>0</search>
            </events>
            <matching>
                <enabled>1</enabled>
                <external_id>1</external_id>
                <address>1</address>
            </matching>
            <capi>
                <enabled>0</enabled>
                <validate_only>0</validate_only>
                <events>order_created,checkout_started,items_added</events>
                <timeout>5</timeout>
            </capi>
            <consent>
                <enabled>0</enabled>
                <cookie_name>user_allowed_save_cookie</cookie_name>
                <cookie_value/>
            </consent>
        </degriz_openaiads>
    </default>
</config>
